html, body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
   }
   h1{
     text-align: center;
     color: rgb(146, 146, 146);
   }
   .display {
     padding: 2rem;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     justify-items: center; 
   }
 
   .display p {
     color: rgb(48, 85, 138);
     font-size: 3rem;
   }
